@charset "UTF-8";

/* TABLET (768px até 991px) */
@media screen and (min-width: 768px) and (max-width: 991px) {
    body {
        background-image: linear-gradient(to top, #00bd00, rgb(12, 76, 136));
    }

    section#login {
        width: 80vw;
        height: 380px; /* Altura fixa para manter lado a lado certinho */
    } 

    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
        height: 100%;
    }

    div#formulario > p {
        font-size: 0.9em;
    }
}

/* DESKTOP (992px em diante) */
@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #00bd00, rgb(12, 76, 136));
    }

    section#login {
        width: 900px;
        height: 400px;
    }

    section#login > div#imagem {
        float: right; /* Imagem na direita */
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario {
        float: left;  /* Formulário na esquerda */
        width: 50%;
        height: 100%;
    }

    div#formulario > p {
        font-size: 1em;
    }
}